<div class="container">
    <div class="row ">
        <div class="col-lg-3  mt-5 px-4">
            <app-sidebar></app-sidebar>
        </div>
      
        <div class="col-lg-9 md-6 mt-5 ">
            <div>
                <div class="work-area-desc-image col-lg-12  ">
              <img  src="{{('Corporate'|translate).image}}" width="100%"  height="400px" alt="">
          </div>
          <div class="work-area-desc  mt-4 p-2">
            <h3 class="work-area-desc-title">{{('Corporate'|translate).title}}</h3>
            <p class="work-area-desc-description my-3">{{('Corporate'|translate).description.text1}}</p>
            <p class="work-area-desc-description my-3">{{('Corporate'|translate).description.text2}}</p>
            <div class="ms-3">
                <ul style="list-style-type: circle">
                    <li> <p class="work-area-desc-description my-3">{{('Corporate'|translate).description.subtitle1}}</p></li>
                    <li> <p class="work-area-desc-description my-3">{{('Corporate'|translate).description.subtitle2}}</p></li>
                    <li> <p class="work-area-desc-description my-3">{{('Corporate'|translate).description.subtitle3}}</p></li>
                    <li> <p class="work-area-desc-description my-3">{{('Corporate'|translate).description.subtitle4}}</p></li>
                    <li> <p class="work-area-desc-description my-3">{{('Corporate'|translate).description.subtitle5}}</p></li>
                    <li> <p class="work-area-desc-description my-3">{{('Corporate'|translate).description.subtitle6}}</p></li>
                    <li> <p class="work-area-desc-description my-3">{{('Corporate'|translate).description.subtitle7}}</p></li>
                    <li> <p class="work-area-desc-description my-3">{{('Corporate'|translate).description.subtitle8}}</p></li>
                  </ul>
            </div>
            <p class="work-area-desc-description my-3">{{('Corporate'|translate).description.text3}}</p>
            <p class="work-area-desc-description my-3">{{('Corporate'|translate).description.text4}}</p>
            <div class="ms-3">
                <ul style="list-style-type: circle">
                    <li> <p class="work-area-desc-description my-3">{{('Corporate'|translate).description.subtitle9}}</p></li>
                    <li> <p class="work-area-desc-description my-3">{{('Corporate'|translate).description.subtitle10}}</p></li>
                    <li> <p class="work-area-desc-description my-3">{{('Corporate'|translate).description.subtitle11}}</p></li>
                    <li> <p class="work-area-desc-description my-3">{{('Corporate'|translate).description.subtitle12}}</p></li>
                  </ul>
            </div>
            <p class="work-area-desc-description my-3">{{('Corporate'|translate).description.text5}}</p>
        </div>
          </div>

        </div>
      </div>
      <div>
      </div>
    

</div>