
*{
    box-sizing: border-box;
}
.about-text{

    font-size: 18px;
    line-height: 1.6;
    opacity: .7;
    padding: 5px;
    margin: 5px 0;
    font-family: 'Times New Roman', Times, serif;
}
.about-title{
    font-family:   'Times New Roman', Times, serif;
    font-weight: bold;

}
.about-image{
    text-align: center;
    justify-content: center;
    text-align: center;
    object-fit: cover;
    width: 100%;
    height:auto;
   
}