<div class="container">
    <div class="cont-title text-center my-4 ">
        <h1> {{'Contact-Us-title'|translate}}</h1>
    </div>
    <div>
        <h4 class="text-center my-3">{{'Contact-Us-text'|translate}}</h4>
    </div>

    <div class="row my-5">
        <div >
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d752.5422092773401!2d29.032990829230137!3d41.02156199870621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7f0babd8ecf%3A0x1d26220a612e856c!2sKamara%20-%20Altunizade%20-%20Sanal%20Ofis%20%2F%20Haz%C4%B1r%20Ofis!5e0!3m2!1str!2str!4v1679072437330!5m2!1str!2str"width="100%" height="435" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-lg-4  text-center">
            <i class="bi bi-telephone" style="font-size: 33px;"></i>
            <h2>{{'phone'|translate}}</h2>
            <p>0546 021 37 78</p>
            <p>0546 021 37 78</p>
        </div>
        <div class="col-lg-4 text-center">
            <i class="bi bi-map-fill" style="font-size: 33px;"></i>
            <h2>{{'adress'|translate}}</h2>
            <p>Osmaniye Mah. Fabrikalar Cad. No:28 D:6 Bakırköy/İSTANBUL</p>
           
        </div>
        <div class="col-lg-4  text-center">
            <i class="bi bi-envelope-fill" style="font-size: 33px;"></i>
            <h2>{{'email'|translate}}</h2>
            <p>Mc.outlook.com</p>
            
        </div>
    </div>
    

<!-- form -->
    <div class="">
        <form action="mailto:yucel@mergencollaboration.com" method="post">
            <div class="card mt-4">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="bi bi-person-circle text-dark"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" name="" placeholder= "{{'name-surname'|translate}}" required>
                                </div>
                            </div>
                        </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="bi bi-envelope text-dark"></i>
                                            </div>
                                        </div>
                                        <input type="email" class="form-control" name="" placeholder="{{'email'|translate}}" required>
                                    </div>
                                </div>
                             </div>
                             <div class="col-lg-4">
                                <div class="form-group">
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="bi bi-tag text-dark"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" name="" placeholder="{{'subject'|translate}}" required>
                                    </div>
                                </div>
                             </div>
                        </div>
                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="bi bi-chat text-dark"></i>
                                </div>
                            </div>
                            <textarea class="form-control" placeholder="{{'form-message'|translate}}" rows="6" required></textarea>
                        </div>
                    </div>
                    <div class="text-center">
                        <input type="submit" value="{{'name-surname'|translate}}" class="btn btn-dark btn-block bg-dark text-light ">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
    
