<div class="container">
    <div class="row ">
        <div class="col-lg-3  mt-5 px-4">
            <app-sidebar></app-sidebar>
        </div>
      
        <div class="col-lg-9 md-6 mt-5 ">
            <div>
                <div class="work-area-desc-image col-lg-12  ">
              <img  src="{{('Commercial'|translate).image}}" width="100%"  height="400px" alt="">
          </div>
          <div class="work-area-desc  mt-4 p-2">
            <h3 class="work-area-desc-title">{{('Commercial'|translate).title}}</h3>
            <p class="work-area-desc-description my-3">{{('Commercial'|translate).description.text1}}</p>
            <p class="work-area-desc-description my-3">{{('Commercial'|translate).description.text2}}</p>
            <p class="work-area-desc-description my-3">{{('Commercial'|translate).description.text3}}</p>
            <p class="work-area-desc-description my-3">{{('Commercial'|translate).description.text4}}</p>
            <p class="work-area-desc-description my-3">{{('Commercial'|translate).description.text5}}</p>
        </div>
          </div>

        </div>
      </div>
      <div>
      </div>
    

</div>