
<div class="container-fluid">
  <div class="row">
  <div class=" hd col-lg-12 "  style="float: right;" >
  

    <div class="righticons d-flex  ">
  
        <div class=" px-2 text-dark bg-da" ><i class="bi bi-envelope-fill"></i> <a href="mailto:yucel@mergencollaboration.com"  class="ms-2 text-decoration-none text-dark">   yucel@mergencollaboration.com </a>  </div>
      <a href="https://wa.me/5422892792" style="color: black;"> <i  class="bi bi-whatsapp px-2"></i> </a>
      <a href="https://www.facebook.com/profile.php?id=100090776258761&mibextid=LQQJ4d" style="color: black;"> <i class="bi bi-facebook px-2"></i> </a>
      <a href="https://instagram.com/mergen_cc?igshid=YmMyMTA2M2Y=" style="color: black;"> <i class="bi bi-instagram px-2"></i> </a>
      <a href="https://www.linkedin.com/company/mergen-collaboration-consultancy/" style="color: black;"> <i class="bi bi-linkedin px-2"></i> </a>
    </div>
   
  </div>
  </div>
</div>





<!-- navbar kısmı -->
<div class="nav-bar" id="navbar">
  
  <nav class="navbar navbar-expand-lg bg-body-tertiar ">
    
    <a class="navbar-brand border" routerLink="/home"><img src="assets/images/LOGO-2.png" class="navbar-brand-image  " alt="web-site-logo" ></a>
    <button (click)="onClick()" class="navbar-toggler mx-5 mb-4 " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="mx-3">
      <button (click)="switchLanguage('en')" class="btn "><img src="assets/images/american-flag.png" width="33px" alt=""></button>
      <button (click)="switchLanguage('tr')" class="btn  "><img src="assets/images/turkey-flag.png" width="25px" alt=""></button>
      <button (click)="switchLanguage('fr')" class="btn ms-2"><img src="assets/images/france-flag.png" width="22px" alt=""></button>
    </div>
    <div class="collapse navbar-collapse  justify-content-end me-5  " id="navbarNav" >
      <ul class="navbar-nav   ">
        <li class="nav-item  active">
          <a class="nav-link"  routerLink="home">{{'Home'|translate}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " routerLink="about">{{'About'|translate}}</a>
        </li>
        <li class="nav-item active dropDown">
          <a class="nav-link drop-btn"> {{'Works'|translate}}</a>
          <div class="drop-content ">
              <div class="dd-item" *ngFor="let item of 'descPage'|translate ; let i=index">
                <a routerLink="page{{i+1}}" class="text-reset text-decoration-none">{{item}}</a>
              </div>
        </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="contact">{{'Contact-Us'|translate}}</a>
        </li>
     
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>

<link rel="stylesheet" >
<a href="https://wa.me/5422892792" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>

<!-- Footer -->
<footer class="text-center bg-white text-muted mt-5">

  <section class="d-flex justify-content-center  p-3 border-bottom">
    

    <!-- Right -->
    <div class="">
      <a href="https://www.facebook.com/profile.php?id=100090776258761&mibextid=LQQJ4d" class="foot-icon fs-5 me-4 link-secondary">
        <i class="bi bi-facebook" ></i>
      </a>
      <a href="https://instagram.com/mergen_cc?igshid=YmMyMTA2M2Y=" class="foot-icon fs-5 me-4 link-secondary">
        <i class="bi bi-instagram" ></i>
      </a>
      <a href="https://www.linkedin.com/company/mergen-collaboration-consultancy/" class="foot-icon fs-5 me-4 link-secondary">
        <i class="bi bi-linkedin" ></i>
      </a>
      <a href="https://wa.me/5422892792" class="foot-icon fs-5 me-4 link-secondary">
        <i class="bi bi-whatsapp"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->



    <!-- footer boölümü -->
  <section>
    <div class="container mx-auto my-3" >
      <div class="row ">
        <div class="col-lg-3 text-center ">
          <div class="text-center p-2">
            <img class="rounded-3 border " width="50%;" src="assets/images/LOGO.png" >
         
          </div> 
        </div>


        <div class="foot-work col-lg-3  p-5 text-center">  
          <h6 class=" fw-bold mb-4">
            {{'Works'|translate}}
          </h6>
          <p *ngFor="let item of 'descPage'|translate; let i=index;">
            <a routerLink="/page{{i+1}}" class="foot-text text-reset  text-decoration-none "> {{item}} </a>
          </p>
        </div>


        <div class="col-lg-3  p-5 text-center">
           <h6 class="fw-bold mb-4">
            Menu
          </h6>
          <p>
            <a routerLink="/home" class="text-reset text-decoration-none">{{'Home'|translate}}</a>
          </p>
          <p>
            <a routerLink="/about" class="text-reset text-decoration-none">{{'About'|translate}}</a>
          </p>
          <p>
            <a routerLink="/page1" class="text-reset text-decoration-none">{{'Works'|translate}}</a>
          </p>
          <p>
            <a routerLink="/contact" class="text-reset text-decoration-none">{{'Contact-Us'|translate}}</a>
          </p>
        </div>
        
        
        <div class="col-lg-3  p-3 text-center ">
          <h6 class=" fw-bold mb-4 ">{{'Contact-information'|translate}}</h6>
          <p><i class="bi bi-building-fill me-3 text-secondary text-center"></i> Kamara Altunizade Ofisi, Murat Reis Mah. Selamet Sk. No:9, 34664, Üsküdar/ İstanbul</p>
          
            <div class=" mt-2">
            <i class="bi bi-envelope-fill me-3 text-secondary"></i>yucel@mergencollaboration.com
          </div>
          
          <p class=" mt-2"><i class="bi bi-phone-fill me-3 text-secondary"></i>+90(542) 2892792 </p>
        </div>
      </div>
    </div>

  </section>


  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://www.mergencollaboration.com/">www.mergencollaboration.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
